<div class="container">
  <div class='row'>
    <div class='col-lg-12'>
      <ol class='breadcrumb'>
        <li><a href='/packages/<%= @package.prefix %>'><%= @package.prefix %></a></li>
        <li class='active'><%= @package.name %></li>
      </ol>

      <h2>
        <%= @package.name %>

        <small>
        <a href='/data/feeds/<%= @package.prefix %>/<%= @package.name %>.xml'>
          <span class='fa fa-rss'></span>
        </a>

        <a href='https://tracker.debian.org/pkg/<%= @package.name %>'
           title='On the Package Tracking System'>
          <span class='fa fa-info-circle'></span>
        </a>
      </small>
    </h2>

      <table class="table" style='width: auto'>

        <tr>
          <td></td>
            <% @package.status.first.each do |status| %>
              <td><b><%= status.suite %></b></td>
            <% end %>
        </tr>

        <% @package.status.each do |row| %>
          <tr>
            <td><b><%= row.first.architecture %></b></td>

            <% row.each do |status| %>
              <% if status.status.eql?(:no_test_data) %>
                  <td class="<%= status.status %>"><%= status.title %></td>
              <% else %>
                  <% package_dir = "/packages/#{@package.prefix}" +
                                   "/#{@package.name}/#{status.suite}" +
                                   "/#{row.first.architecture}"
                  %>
                  <td class="<%= status.status %>">
                    <a href=<%= package_dir %>><%= status.title %></a>
                  </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>

      </table>

    </div>
  </div>
</div>
