<div class="container">
<div class="panel panel-default">
    <div class="panel-heading"><%= @package.name %></div>
<table class="table">

    <tr>
      <td></td>
      <% @package.status.first.each do |status| %>
           <td><b><%= status.suite %></b></td>
      <% end %>
    </tr>

    <% @package.status.each do |row| %>
         <tr>
           <td><b><%= row.first.architecture %></b></td>

         <% row.each do |status| %>
              <td class="<%= status.status %>"><a href="/packages/<%= @package.prefix %>/<%= @package.name %>/<%= status.suite %>/<%= row.first.architecture %>"><%= status.title %></a></td>
         <% end %>
         </tr>
    <% end %>
</table>
</div>
</div>
