<div class="container">
<div class="row">
<div class="col-sm-3">
<div class="panel panel-default">
    <div class="panel-heading">Browse</div>
<ul class="list-inline">

<% @package_prefixes.each do |prefix| %>
     <li><h5><a href="/packages/<%= prefix %>/"><%= prefix %></a></h5></li>
<% end %>

</ul>
</div>
</div>

<div class="col-sm-8">

<table class="table" style="text-align: left">
<tr><td><b>Package</b></td><td><b>Suites</b></td><td><b>Architectures</b></td></tr>
<%
    repository = Debci::Repository.new
    packages = repository.packages

    packages.sort.each do |item|

      @package = repository.find_package(item)

        if @package.prefix.eql?(@prefix) %>
          <tr>
            <td><a href="/packages/<%= @prefix %>/<%= @package.name %>"><%= @package.name %></a></td>
              <td><%= @package.suites.join(', ') %></td>
              <td><%= @package.architectures.join(', ') %></td>
          </tr>
<%
        end
    end
%>
</table>
</div>
</div>
</div>
</div>
