<% package_prefix = (('0'..'9').to_a + ('a'..'z').to_a + ('liba'..'libz').to_a).sort %>

<div class="container">
<div class="row">
<div class="col-sm-3">
<div class="panel panel-default">
    <div class="panel-heading">Browse</div>
<ul class="list-inline">
<%
    package_prefix.each do |prefix|
%>
        <li><h5><a href="/packages/<%= prefix %>/"><%= prefix %></a></h5></li>
<%  end %>

</ul>
</div>
</div>

<div class="col-sm-8">

<table class="table" style="text-align: left">
<tr><td><b>Package</b></td><td><b>Suites</b></td><td><b>Architectures</b></td></tr>
<%
    repository = Debci::Repository.new
    packages = repository.packages

    packages.each do |item|

        @package = repository.find_package(item)

        if item[0..3].eql?(@prefix) %>
            <tr>
                <td><a href="/packages/<%= @package.prefix %>/<%= @package.name %>"><%= item %></a></td>
                <td><%= @package.suites.join(', ') %></td>
                <td><%= @package.architectures.join(', ') %></td>
            </tr>

<%      else if item[0].eql?(@prefix) %>
            <tr>
                <td><a href="/packages/<%= @package.prefix %>/<%= @package.name %>"><%= item %></a></td>
                <td><%= @package.suites.join(', ') %></td>
                <td><%= @package.architectures.join(', ') %></td>
            </tr>
<%
        end
    end
end
%>
</table>
</div>
</div>
</div>
</div>
