<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class='page-header'>Status <small>/ Platform-Specific issues</small></h1>
      <%= @status_nav %>
      <table class='table table-striped'>
        <tr>
          <th>Package</th>
          <th>Status</th>
        </tr>
        <% @issues.each do |package, statuses| %>
          <tr>
            <td><%= package.name %></td>
            <td>
              <% statuses.each do |status| %>
                <a  class='<%= status.extended_status %> <%= if package.outdated?(status) then "outdated" end %>'
                    href="/packages/<%= package.prefix %>/<%= package.name %>/<%= status.suite %>/<%= status.architecture %>/">
                  <%= status.version %> <%= status.suite %>/<%= status.architecture%> <%= status.status %> (<%= status.duration_human %>)
                </a>
                &nbsp;
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
