<div class="container-float">
<div class="panel panel-default newspanel">
    <div class="panel-heading">News</div>
    <div class="list-group">
        <%
           repository = Debci::Repository.new
           package = repository.packages

           # List the latest changes in package status
           package.each do |thisPackage|

               news = repository.find_package(thisPackage).news

               news.each do |item|

                   if item.headline.include?("PASSED")
                       state = "pass"
                   else
                       state = "fail"
                   end
         %>
                   <a href="/history/<%= item.suite %>/<%= item.architecture %>/<%= thisPackage[0] %>/<%= thisPackage %>"
                      class="list-group-item <%= state %>"><%= item.headline %></a>

                   <% break %>
               <% end %>
           <% end %>

    </div> <!-- class='list-group' -->
</div> <!-- class='panel panel-default' -->
</div> <!-- class='container-float' -->

<div id='main' class="container graphcontainer">
<div id='status' class="graphs">
    <div class="panel panel-default">
        <div class="panel-heading">Package Testing Data</div>

            <div class='row'>
                <div class='col-sm-6'>
                    <h3>Pass/fail</h3>
                        <div class='chart' id='chart-pass-fail'>
                            <noscript>Can't plot chart without Javascript.</noscript>
                        </div>
                </div>

                <div class='col-sm-6'>
                    <h3>Pass percentage</h3>
                        <div class='chart' id='chart-pass-percentage'>
                            <noscript>Can't plot chart without Javascript.</noscript>
                        </div>
                </div>
            </div>
        </div>
     </div>

</div> <!-- id='status' -->
</div> <!-- id='main' -->
