<div class="container">
<div class="row">
<div class="col-md-3">
<div class="panel panel-default">
    <div class="panel-heading">News<a class="pull-right" href="data/feeds/all-packages.xml" title='Atom feed for events in all packages'><span class='fa fa-rss'></span></a></div>
    <div class="list-group">
        <%
           repository = Debci::Repository.new
           TOTAL_ITEMS = 10

           news = repository.news_for('*', TOTAL_ITEMS)

           # List the latest changes in package status
           news.each do |item|
         %>
               <a href="/packages/<%= item.package %>/<%= item.suite %>/<%= item.architecture %>"
                  class="list-group-item <%= item.status.to_s %>"><%= item.headline %></a>
         <% end %>

    </div> <!-- class='list-group' -->
</div> <!-- class='panel panel-default' -->
</div> <!-- class='col-md-3' -->

</div> <!-- class='row' -->
</div> <!-- class='container' -->
