<div class="container">
<div class="panel panel-default">
    <div class="panel-heading"><%= @package.name %></div>
<table class="table">

<% currentArch = 0 
   header = true
   suites = Array.new
   currentSuite = 0
%>

<% @status_table.each do |arch| %>
    
    <tr>
        <% data = Array.new
           
           if header %>
               <td></td>       
               <% arch.each do |suite| %>
                   <td><b><%= suite.suite %></b></td>                              
               <% end %>
           <% end %>
    </tr>      

    <% arch.each do |suite|
           data.push(suite.status)
           suites.push(suite.suite)
       end

       header = false 
    %>   
    
    <tr>                  
        <td><b><%= @allArches.fetch(currentArch) %></b></td>

        <% data.each do |status|

               case status.to_s
                   when "fail"
                       state = "fail"
                       test = "fail"
                   when "pass"
                       state = "pass"
                       test = "pass"
                   when "tmpfail"
                       state = "tmpfail"
                       test = "tmpfail"
                   when ""
                       state = "No test data"
                       test = "nodata"
               end               

          currentSuite += 1
        %>
        
        <td class="<%= test %> statusdata"><%= state %></td>

        <% end %>
        
    </tr>    
    
    <% currentArch += 1 %>
    
<% end %>
    
</table>
</div>
</div>
